<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DOE SOLIDARIEDADE</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- Custom styles for this template -->


    <title>
        {% block titulo %} {% endblock %}
        DOESolidariedade
    </title>
</head>
<body>


 <nav class=" navbar navbar-expand-md navbar-light navbar-fixed-top" style="background-color:#3CB371 " >
            <a class="navbar-brand" href="#">Home</a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
           </button>

             <div class="collapse navbar-collapse " id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                         <li class="nav-item active">
                             <a class="nav-link" href="#">Quem Somos
                             <span class="sr-only">(current)</span>
                             </a>
                         </li>
                           <li class="nav-item">
                                <a class="nav-link" href="#">Entidades</a>
                           </li>

                            <li class="nav-item">
                                <a class="nav-link " href="#">Contato</a>
                            </li>
                    </ul>
                                         <form class="form-inline my-2 my-lg-0">
                                             <input class="form-control mr-sm-2" type="text" placeholder="pesquisa" aria-label="pesquisa">
                                             <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">pesquisa</button>
                                         </form>
             </div>
       </nav>




{% block conteudo %} {% endblock %}


<!-- Footer -->
    <footer class="py-2 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.c  ontainer -->
    </footer>
</body>
</html>