<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/estilo.css">
    <meta charset="UTF-8">
    <title>cadastro</title>
</head>
    <body class="corpo">
       <div class="container">
            <form class="form-horizontal">
              <fieldset>

                <!-- Form Name -->
                  <legend><h1>cadastre-se</h1></legend>




                <!-- Text input-->
                <div class="form-row">
                    <div class="form-group col-md-3">
                     <label for="inputCity"><h5>Razão Social :</h5></label>
                      <input type="text"  id="inputCidade"  placeholder="nome" class="form-control input-md" required="">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="inputState"><h5>CNPJ:</h5></label>
                     <input type="text"  id="inputCPF"  placeholder="CPF" class="form-control input-md" required="">
                    </div>
                </div>

                <!-- Text input-->

                     <div class="form row">
                        <div class= "form-group col-md-2">
                          <label  for="textinput">Data de Nascimento:</label>
                          <input id="textinput" name="textinput" type="text" placeholder="Data/Mês/Ano" class="form-control input-md" required="" >
                        </div>
                     </div>
                   <div class="form row">
                        <div class= "form-group col-md-4">
                          <label  for="textinput">Endereço:</label>
                          <input id="textinput" name="textinput" type="text" placeholder="Endereço" class="form-control input-md" required="">
                        </div>

                    <div class= "form-group col-md-1">
                      <label  for="textinput">Numero:</label>
                      <input id="textinput" name="textinput" type="text" placeholder="N:" class="form-control input-md" required="">
                    </div>
                   </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                      <label for="inputCity">Cidade</label>
                       <input id="textinput" name="textinput" type="text" placeholder="Cidade" class="form-control input-md" required="">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="inputState">UF</label>
                      <input id="textinput" name="textinput" type="text" placeholder="UF" class="form-control input-md" required="">
                    </div>
                    <div class="form-group col-md-2">
                      <label for="inputZip">CEP</label>
                       <input id="textinput" name="textinput" type="text" placeholder="CEP" class="form-control input-md" required="">
                    </div>
                </div>
                <!-- Password input-->
                 <div class="form-row">
                    <div class="form-group col-md-3">
                      <label for="inputCity">Senha:</label>
                        <input id="passwordinput" name="passwordinput" type="password" placeholder="senha" class="form-control input-md" required="">
                    </div>
                    <div class="form-group col-md-3">
                      <label for="inputState">Confirma senha:</label>
                         <input id="passwordinput" name="passwordinput" type="password" placeholder="senha" class="form-control input-md" required="">
                    </div>
                </div>

                <!-- Button (Double) -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="button1id">Confirmar Cadastro</label>
                  <div class="col-md-8">
                    <button id="button1id" name="button1id" class="btn btn-success">confirmar</button>
                    <button id="confirmar" name="confirmar" class="btn btn-danger">cancelar</button>
                  </div>
                </div>
              </fieldset>
            </form>
       </div>
    </body>
</html>