{% extends '../../../PycharmProjects/DOESolidariedade/templates/base.html' %}

{% block conteudo %}
   <div class="container" >
            <div class=" row">
                <div class="col-md-3 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="card-header">
                            <h3 class="panel-title" style="text-align: center">Login</h3>
                            <div class="panel-body">
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="E-mail" name="email" type="text">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Senha" name="password" type="password" value="">
                                    </div>
                                    <div type="recSenha" style="float:right; padding-bottom:10px;">
                                        <label>
                                            <a href="">Recuperar senha</a>
                                        </label>
                                    </div>
                                    <input class="btn btn-lg btn-success btn-block" type="submit" value="Entrar">
                                </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>

{% endblock %}